<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="Home/Layout">
<head>
    <th:block layout:fragment="title" th:text="${#authentication.principal.username}+'修改密码'">title</th:block>
</head>

<body class="">
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-3">
            <h3 class="page-title mb-5">个人中心</h3>
            <div>
                <div class="list-group list-group-transparent mb-0">
                    <a th:href="@{/HomeUser/Personal}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span class="icon mr-3"><i class="fe fe-user"></i></span>个人信息
                    </a>
                    <a th:href="@{/HomeUser/UpdateUsername}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span class="icon mr-3"><i class="fe fe-image"></i></span>修改昵称
                    </a>
                    <a th:href="@{/HomeUser/UpdateLogoImg}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span class="icon mr-3"><i class="fe fe-image"></i></span>修改头像
                    </a>
                    <a th:href="@{/HomeUser/UpdateMotto}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span class="icon mr-3"><i class="fe fe-feather"></i></span>修改签名
                    </a>
                    <a th:href="@{/HomeUser/UpdatePassword}" class="list-group-item list-group-item-action d-flex align-items-center active">
                        <span class="icon mr-3"><i class="fe fe-lock"></i></span>修改密码
                    </a>
                    <a th:href="@{/HomeUser/UpdateEmail}" class="list-group-item list-group-item-action d-flex align-items-center">
                        <span class="icon mr-3"><i class="fe fe-mail"></i></span>修改邮箱
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">如果您的密码被泄露或过于简单，请及时修改密码</h3>
                </div>
                <div class="card-body">
                    <form id="form">
                        <div class="form-group">
                            <div class="row align-items-center">
                                <label class="col-sm-2">旧密码:</label>
                                <div class="col-sm-9">
                                    <input name="password" type="password" class="form-control" required minlength="6" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center">
                                <label class="col-sm-2">新密码:</label>
                                <div class="col-sm-9">
                                    <input id="newPassword" name="newPassword" type="password" class="form-control" required minlength="6" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center">
                                <label class="col-sm-2">确认密码:</label>
                                <div class="col-sm-9">
                                    <input name="repeatPassword" type="password" class="form-control" required minlength="6" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="btn-list mt-4 text-center">
                            <button type="submit" class="btn btn-primary btn-space">修改密码</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="bodyJs">
    <script>
        require(['jquery','jquery-validation'], function ($) {
            $("#modalConfirmBtn").click(function () {
                var param = $("#form").serialize();
                $.ajax({
                    url : "/User/HandleUserUpdatePassword",
                    type : "post",
                    dataType : "json",
                    data: param,
                    success : function(result) {
                        $("#modalTipBody").removeClass();
                        $("#modalTipBody").html(result.message);
                        if(result.success){
                            $('#form')[0].reset();
                            $("#form").validate().resetForm();
                            $("#modalTipBody").addClass("alert alert-success");
                        }
                        else $("#modalTipBody").addClass("alert alert-danger");
                        $('#modalTip').modal();
                    },
                    error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                        if(XMLHttpRequest.status==403||XMLHttpRequest.status==302){
                            alert('您还没有登陆，请登陆后使用');
                            location.reload();
                        }
                        else alert('发生了错误,请检查网络或稍后刷新重试');
                    }
                });
            });
            $("#form").validate({
                onsubmit:true,// 是否在提交是验证
                onfocusout:function (element) { $(element).valid()},// 是否在获取焦点时验证
                onkeyup :false,// 是否在敲击键盘时验证

                rules: {
                    repeatPassword:{
                        equalTo:"#newPassword"
                    }
                },
                messages:{
                    password:{
                        required:"请输入旧密码",
                        maxlength:"最多20个字符长度",
                        minlength:"最少6个字符"
                    },
                    newPassword:{
                        required:"请输入新密码",
                        maxlength:"最多20个字符长度",
                        minlength:"最少6个字符"
                    },
                    repeatPassword:{
                        required:"请输入确认密码",
                        maxlength:"最多20个字符长度",
                        minlength:"最少6个字符",
                        equalTo:"两次密码输入不一样"
                    }
                },
                submitHandler: function(form) {  //通过之后回调
                    $("#modalConfirmBody").removeClass();
                    $("#modalConfirmBody").addClass("alert alert-warning");
                    $("#modalConfirmBody").html("您确认修改吗？");
                    $('#modalConfirm').modal();
                },
                invalidHandler: function(form, validator) {  //不通过回调
                    return false;
                }
            });
        });
    </script>
</th:block>
</body>
</html>