<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.f5tv.springdataweb.mapper.DataUserMapper">

    <!-- select user -->
    <select id="select" parameterType="com.f5tv.springdataweb.entity.DataUser" resultType="com.f5tv.springdataweb.entity.DataUser">
        SELECT userId,USERNAME,PASSWORD,AGE FROM USER WHERE ID=#{0}
    </select>

    <!-- selectAll user -->
    <select id="selectAll"  resultType="com.f5tv.springdataweb.entity.DataUser">
        SELECT ID,USERNAME,PASSWORD,AGE FROM USER WHERE ID=#{0}
    </select>

    <!-- insert user -->
    <insert id="insert" parameterType="com.f5tv.springdataweb.entity.DataUser">
        INSERT INTO USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="com.f5tv.springdataweb.entity.DataUser">
        UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}
    </update>


    <!-- delete user -->
    <delete id="delete" parameterType="int">
        DELETE FROM USER WHERE ID=#{0}
    </delete>
</mapper>