<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.f5tv.springbootblog.mapper.user.UserMapper">


    <select id="selectAllUser" parameterType="com.f5tv.springbootblog.entity.user.UserEntity" resultType="com.f5tv.springbootblog.entity.user.UserEntity">
        select userId,username,userRole.userRoleId,userRole.userRoleName,userEmail,userStatus,userDate,userLogoSrc from user left join userRole on user.userRoleId = userRole.userRoleId
        <where>
            <if test=' userRoleId >0 '>
                user.userRoleId = #{userRoleId}
            </if>
            <if test=' userStatus >-99 '>
                and user.userStatus = #{userStatus}
            </if>
            <if test='username != null and username != "" '>
                and username like #{username}
            </if>
            <if test='userEmail != null and userEmail != "" '>
                and userEmail like #{userEmail}
            </if>
        </where>
        order by userId desc
    </select>

    <select id="selectAllUserCount" parameterType="com.f5tv.springbootblog.entity.user.UserEntity" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test=' userRoleId >0 '>
                user.userRoleId = #{userRoleId}
            </if>
            <if test=' userStatus >-99 '>
                and user.userStatus = #{userStatus}
            </if>
            <if test='username != null and username != "" '>
                and username like #{username}
            </if>
            <if test='userEmail != null and userEmail != "" '>
                and userEmail like #{userEmail}
            </if>
        </where>
    </select>

</mapper>